<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0" type="EPiServer.Labs.ProjectEnhancements.ProjectEnhancementsModule, EPiServer.Labs.ProjectEnhancements">

  <assemblies>
    <add assembly="EPiServer.Labs.ProjectEnhancements" />
  </assemblies>  

  <clientModule initializer="episerver-labs-project-enhancements.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="EPiServer.Labs.ProjectEnhancements" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="episerver-labs-project-enhancements" path="Scripts" />
    </paths>
 </dojo>
</module>
